<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.couchbase.mobile">

    <!--
    Requesting NFC Access in the Android Manifest
    https://developer.android.com/guide/topics/connectivity/nfc/nfc.html#manifest
    -->
    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:name="com.jasonette.seed.Launcher.Launcher"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.launch.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:keepScreenOn="true"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".app.CareMessage"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" 
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".app.temperature.TemperatureActivity"
            android:keepScreenOn="true"
            android:label="Temperature"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:parentActivityName=".app.MainActivity">

            <!--
                android:launchMode="singleTask"
                https://developer.android.com/guide/components/activities/tasks-and-back-stack.html#TaskLaunchModes
                https://stackoverflow.com/questions/28938074/app-called-nfc-services-replacing-my-own-app
            -->

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.MainActivity"/>

            <!--
                Filtering for NFC Intents
                ACTION_TECH_DISCOVERED
                https://developer.android.com/guide/topics/connectivity/nfc/nfc.html#tech-disc
             -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc"/>
        </activity>

        <activity
            android:name="com.jasonette.seed.Core.JasonViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/JasonetteTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".app.patient.PatientActivity"
            android:label="@string/title_activity_patient"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:name=".app.launch.Runtime"
            android:authorities="autoload"
            android:exported="false"/>

        <meta-data
            android:name="com.urbanairship.autopilot"
            android:value="com.couchbase.mobile.notifications.Autopilot"/>
        <receiver
            android:name=".notifications.AirshipReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED"/>
                <action android:name="com.urbanairship.push.OPENED"/>
                <action android:name="com.urbanairship.push.RECEIVED"/>
                <action android:name="com.urbanairship.push.DISMISSED"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
